*{margin: 0;padding: 0;outline: none;}
a{text-decoration: none;color: #000000;}
a:visited{color: #000000;}
body{margin: 0 auto;overflow-x: hidden;}
.clear{clear: both;}
.herder .box{width: 100%;height: 36px;border-bottom: #C6C6C6 solid 1px;line-height: 36px;}
.herder .box .block{width: 1236px;margin: 0 auto;}
.rog{position: relative;float: left;}
.rog-gray{width: 30px;height: 16px;border-right: #C6C6C6 1px solid;padding-right: 10px;}
.rog-gray_h{position: absolute;width: 30px;height: 16px;opacity: 0;left: 0px;margin-top: 8px;}
.rog-gray_h:hover{opacity: 1;transition:all 0.5s;}
.proArt{float: left;}
.proArt-gray{width: 30px;height: 16px;padding-right: 10px;margin-left: 20px;}
.proArt-gray_h{position: absolute;width: 30px;height: 16px;opacity: 0;left: 61px;top:8.3px;}
.proArt-gray_h:hover{opacity: 1;transition:all 0.5s;}
.blockR{float: right;margin-right: 80px;}
.blockR:hover .competingContent{display: block}
.competing{height: 31px;display: inline-block;border-bottom: white 4px solid;opacity: 1;position: relative;}
.hoverText:hover{border-bottom: #000000 4px solid;transition: 0.5s;}
.herder .block{position: relative;}
.competingContent{margin-top: 5px;text-align: center;position: absolute;left: 1040px;background-color: white;display: none;border: #C6C6C6 1px solid;position: absolute;}
.competingContent a{display: block;color: #000000;margin: 0 10px;}
.competingContent a:hover{display: block;color: #00AAFF;}
.search{position: relative;}
.search .search_no{position: absolute;top: -13px;}
.search .search_h{position: absolute;top: -0px;opacity: 0;}
.search:hover .search_h{opacity: 1;transition: 0.5s;}
.user{position: relative;}
.user .user_no{position: absolute;top: -13px;}
.user .user_h{position: absolute;top: -0px;opacity: 0;}
.user:hover .user_h{opacity: 1;transition: 0.5s;}
.center{}
.userAfter{border: 1px solid #CCCCCC;border-radius: 5px;width: 180px;background-color: white;line-height: 50px;top: 30px;right: -8px;position: absolute;padding-left: 20px;color: #bfbfbf;display: none;}
.userAfterBlock{border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;width: 10px;height: 10px;transform: rotate(45deg);position: absolute;top: -6px;right: 10px;background-color: white;z-index: 555;}
.user:focus .userAfter{display: block;}
.userAfter p:hover{color: #007AFF;}

.content{width: 1200px;margin: 0 auto;}

.bnannd{background: url(../img/Download-Center/img/kv03.jpg)no-repeat;height: 280px;width: 100%;color: white;background-size: 100% 280px;min-width: 1900px;}
.bnannd .p1 a{color: white;}
.bnannd .p2,.p3{text-align: center;color: white;}
.bnannd .p2{font-size: 36.8px;margin-bottom: .2em;margin-top: 50px;}
.search1{}
.search1 input{width: 288.533px;height: 3em;background: url(../img/Download-Center/img/icon-search2.png)no-repeat 12px 10px;padding: 0 1em 0 3.5em;border:1px solid #e0e0e0}
.content .titltTxt{margin-bottom: 30px;font-size: 1.4em;font-weight: 500;}
.content h3{margin-top: 30px;margin-bottom: 0.5em;font-size: .9em;font-weight: 400;}
.contentBox1{width: 441px;display: inline-block;}
.select1,.select2{width: 173px;height: 3em;padding: 0 1.1em;border:1px solid #e0e0e0;color: #b9b9b9;margin-bottom: .7em;}
.select3{width:350.391px;padding: 0 16px 0 12px;height: 3em;border:1px solid #e0e0e0;color: #b9b9b9;}
.contentBox2{float: right;display: inline-block;width: 496px;height: 143px;background: url(../img/Download-Center/img/icon-empty.png)no-repeat;margin-top: 30px;margin-right: 100px;}
.contentBox2 span{display: inline-block;float: left;font-size: 1.2em;line-height: 1.5em;font-weight: 300;margin-left: 200px;}
.contentBox2 img{float: left;display: inline-block;}
.contentBox3 h2{display: inline-block;color: #00A8FF;font-size: 20px;font-weight: 400;}
.contentBox3 .titlt1{border-bottom: #00A8FF solid 3px;width: 150px;}
.contentBox3 .block{background-image: url(../img/Download-Center/img/捕获.PNG);background-repeat: no-repeat;height: 80px;padding-left: 100px;display: inline-block;}
.contentBox3 .block1{display: inline-block;}
.contentBox3 .block1 .botton1{color: #00A8FF;margin-left: 50px;}
.contentBox3 .block1 .botton1:hover{color: #00A8FF;background-color: #00A8FF;color: white;}
.contentBox3 .block1 .botton2{color: white;background-color: #00A8FF;}
.contentBox3 .block1 input{min-width: 12em;height: 2.9em;border: #00A8FF 1px solid;border-radius: 5px;text-align: center;margin: 50px 0 60px 0;}
.content2{background-color: #f2f2f2;}
.content2 .contentBox3{margin: 0 auto;width: 1200px;margin-top: 50px;}
.content2 .contentBox3 .block .p1{font-size: 1.2em;color: #262626;padding-top: 10px;}
.content2 .contentBox3 .block .p2{font-size: .8em;color: #777777;}

.nav{width: 100%;border-bottom: #C6C6C6 solid 1px;float: left;background-color: white;height: 51px;}
.nav .navBox{width: 1236px;margin: 0 auto;}
.navBox1 .logo{position: relative;width: 100px;float: left;line-height: 50px;}
.logo_h{position: absolute;left: 0;opacity: 0;top: 15px;}
.logo_h:hover{opacity: 1;transition: 0.5s;}
.nav .navBox2{float: left;}
.nav  .navspan{display: inline-block;}
.nav  span{margin: 0 10px;font-size: 15px;color: #4d4d4d;height: 50px;display: inline-block;line-height: 50px;border-bottom: rgba(255, 255, 255, 0) solid 3px;}
.nav .navspan:hover span{border-bottom: black solid 3px;transition: 0.5s;}
.nav .navBox3{float: right;}
.nav .navBox3 .index{display: inline-block;color: #4D4D4D;}
.nav .navBox3 .index a{color: #4D4D4D;}
.search,.user{width: 16px;height: 17px;display: inline-block;margin: -2px 10px;}

.content3box{width: 1236px;margin: 0 auto;}
.content3 h1{margin-top: 40px;text-align: center;font-weight: 400;margin-bottom: 30px;font-size: 48px;}
.more1{font-size: 14px;font-weight: 400;color: #00A8FF;}
.text h2{font-size: 16px;color: #777777;margin-bottom: 20px;}
.text1 h2{font-size: 16px;color: #777777;margin-bottom: 20px;}
.text1 p a{color: #777777;line-height: 40px;}
.text p a{color: #777777;line-height: 40px;}
.text{padding-right: 100px;float: left;}
.text1{margin-bottom: 250px;}

.serveBox{position: relative;}
.serveAfter{text-align: center;width: 150px;top: 1px;right: -35px;background-color: white;position: absolute;display: none;color: #7f7f7f;border: #9e9e9e solid 1px;}
.serveAfter p{line-height: 40px;}
.serveAfter p:hover{line-height: 40px;color: #00AAFF;transition: 1s;}
.serve:hover .serveAfter{display: block;}


.smartPhoneBlock:hover .smartPhone{display: block;}
.smartPhone{width: 100%;background-color: white;position: absolute;left: 0;display: none;}
.smartPhoneBox{width: 1226px;margin: 0 auto;padding-bottom: 50px;}
.smartPhoneBox1,.smartPhoneBox2{display: inline-block;padding-left: 20px;margin-top: 20px;}
.smartPhoneBox2{border-left: #b8b8b8 solid 1px;}
.smartPhoneBox1,.smartPhoneBox2 div{color: #999999;line-height: 40px;}
.smartPhoneBox1 div{width: 200px;}
.STPB1{background-color: #F2F2F2;}
.STPB2:hover,.STPB3:hover{background-color: #f2f2f2;} 
.STPB2a:hover,.STPB3a:hover{color: #00AAFF;}





.BrowseImg{width: 100%;}
.BrowseImgBg{display: block;width: 2560px;height: 777px;margin: 0 auto;background: url(../img/ASUS_CN/browseImg/djxw0whiwsnohkwy-0_0_desktop_1X.webp);}
.BrowseImgBg1{margin: 0 auto;width: 2560px;display: block;margin-top: 10px;}
.center{margin-top: 51px;}
.center .box{width: 2548px;margin: 0 auto;height: 1800px;}
.center .box .block{width: 1262px;height: 580px;background-color: #f6f6f6;margin: 6px;text-align: center;float: left;}
.center .A{position: relative;}
.center .A .layerP{font-size: 20px;font-weight: 100;margin-top: 20px;}
.center .layer{position: absolute;left: 430px;top: 40px;}
.center .layerPsolid{width: 10px;border: 0;display: block;border-bottom: #000000 1px solid;position: absolute;height: 40px;top: 65px;left: 160px;}
.layerP:hover .layerPsolid{width: 100px;transition: 0.5s;}

.center .box .block1{background: url(../img/ASUS_CN/box/k5y2xev9y5fkcux4-1_0_tablet_1X.jpg) no-repeat #F6F6F6;background-position: center;background-size: 900px;background-position-y: 30px;}
.center .box .block1 img{margin-top: 450px;}
.center .box .block1 .layerP{color: #00AAFF;}
.center .box .block2 img{height: 100%;}
.center .box .block2{background-color: #000000;}
.center .box .block3 img{width: 100%;height: 100%;}
.center .box .block4{background: url(../img/ASUS_CN/box/k5y2xev9y5fkcux4-4_0_tablet_1X.jpg)no-repeat #f5f5f5;background-size: 1000px;background-position: bottom;}
.center .box .block4 .botton{border: #888888 solid 1px;width: 150px;height: 35px;line-height: 35px;margin: 10px 0 0 550px;border-radius: 5px;}
.center .box .block4 .botton:hover{background-color: #888888;transition: 0.5s;color: white;}
.center .box .block5{background: url(../img/ASUS_CN/box/k5y2xev9y5fkcux4-5_0_desktop_1X.webp)no-repeat;}
.center .box .block5 p{color: #F8B942;font-weight: 600;font-size: 38px;margin: 20px 0 10px 0;}
.center .box .block5 .botton2{color: #ffffff;}

.center .box1{margin: 0 auto;text-align: center;}
.center .box1 .block{width: 1364px;margin: 0 auto;}
.center .box1 .promotion{display: inline-block;background-color: #f5f5f5;}
.center .box1 h1{text-align: center;font-size: 56px;margin: 105px 0 40px 0;display: inline-block;}
.center .box1 .imgBlaok{width: 404px;height: 252px;overflow: hidden;}
.center .box1 .imgBlaok img{width: 100%;height: 100%;}
.center .box1 .block1 p{color: #808080;text-align: left;margin: 14px 24px 12px;font-size: 17px;}
.center .box1{position: relative;}
.center .box1 .imgButton{width: 40px;height: 54px;line-height: 100%;position: absolute;bottom: 130px;margin-left: 10px;}


.bottom{margin-top: 80px;background-color: #F5F5F5;}

.server{width: 1231px;margin: 0 auto;}
.server a{display: block;font-size: 13px;margin-bottom: 14px;}
.server h2{font-size: .8125rem;margin-bottom: 13px;}
.server .serveBlock,.serveBlock1,.serveBlock2,.serveBlock3,.serveBlock4,.community{float: left;}
.server .serveBlock,.serveBlock1,.serveBlock2{width: 159px;}
.server .serveBlock1,.serveBlock2{margin-top: 31px;}
.server .serveBlock3{width: 240.258px;}
.server .serveBlock4{width: 167.742px;}
.server .serveBlock3A h2{margin-top:30px;}
.community {text-align: left;width: 250px;margin-top: 10px;}
.community a{width: 40px;height: 40px;margin-right: 20px;display: inline-block;}
.community img{width: 40px;}
.bottomBox{border-bottom: 1px solid #ccc;padding-top: 100px;background-color: #cc;/* width: 1236px;margin: 0 auto; */}
.bottom1{width: 1231px;margin: 0 auto;}
.bottom1 a{font-size: 13px;line-height: 60px;}
.bottom1 span{width: 1px;height: 13px;background-color: #999;display: inline-block;}