*{margin: 0;padding: 0;outline: none;outline: none;}
a{text-decoration: none;color: #000000;}
a:visited{color: #000000;}
body{margin: 0 auto;overflow-x: hidden;}
.clear{clear: both;}
.herder .box{width: 100%;height: 36px;border-bottom: #C6C6C6 solid 1px;line-height: 36px;}
.herder .box .block{width: 1236px;margin: 0 auto;}
.rog{position: relative;float: left;}
.rog-gray{width: 30px;height: 16px;border-right: #C6C6C6 1px solid;padding-right: 10px;}
.rog-gray_h{position: absolute;width: 30px;height: 16px;opacity: 0;left: 0px;margin-top: 8px;}
.rog-gray_h:hover{opacity: 1;transition:all 0.5s;}
.proArt{float: left;}
.proArt-gray{width: 30px;height: 16px;padding-right: 10px;margin-left: 20px;}
.proArt-gray_h{position: absolute;width: 30px;height: 16px;opacity: 0;left: 61px;top:8.3px;}
.proArt-gray_h:hover{opacity: 1;transition:all 0.5s;}
.blockR{float: right;margin-right: 80px;}
.blockR:hover .competingContent{display: block}
.competing{height: 31px;display: inline-block;border-bottom: white 4px solid;opacity: 1;position: relative;}
.hoverText:hover{border-bottom: #000000 4px solid;transition: 0.5s;}
.herder .block{position: relative;}
.competingContent{margin-top: 5px;text-align: center;position: absolute;left: 1040px;background-color: white;display: none;border: #C6C6C6 1px solid;position: absolute;}
.competingContent a{display: block;color: #000000;margin: 0 10px;}
.competingContent a:hover{display: block;color: #00AAFF;}
.search{position: relative;}
.search .search_no{position: absolute;top: -13px;}
.search .search_h{position: absolute;top: -0px;opacity: 0;}
.search:hover .search_h{opacity: 1;transition: 0.5s;}
.user{position: relative;}
.user .user_no{position: absolute;top: -13px;}
.user .user_h{position: absolute;top: -0px;opacity: 0;}
.user:hover .user_h{opacity: 1;transition: 0.5s;}
.center{clear: both;}
.userAfter{border: 1px solid #CCCCCC;border-radius: 5px;width: 180px;background-color: white;line-height: 50px;top: 30px;right: -8px;position: absolute;padding-left: 20px;color: #bfbfbf;display: none;}
.userAfterBlock{border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;width: 10px;height: 10px;transform: rotate(45deg);position: absolute;top: -6px;right: 10px;background-color: white;z-index: 555;}
.user:focus .userAfter{display: block;}
.userAfter p:hover{color: #007AFF;}


.serveBox{position: relative;}
.serveAfter{text-align: center;width: 150px;top: 1px;right: -35px;background-color: white;position: absolute;display: none;color: #7f7f7f;border: #9e9e9e solid 1px;}
.serveAfter p{line-height: 40px;}
.serveAfter p:hover{line-height: 40px;color: #00AAFF;transition: 1s;}
.serve:hover .serveAfter{display: block;}


.smartPhoneBlock:hover .smartPhone{display: block;}
.smartPhone{width: 100%;background-color: white;position: absolute;left: 0;display: none;}
.smartPhoneBox{width: 1226px;margin: 0 auto;padding-bottom: 50px;}
.smartPhoneBox1,.smartPhoneBox2{display: inline-block;padding-left: 20px;margin-top: 20px;}
.smartPhoneBox2{border-left: #b8b8b8 solid 1px;}
.smartPhoneBox1,.smartPhoneBox2 div{color: #999999;line-height: 40px;}
.smartPhoneBox1 div{width: 200px;}
.STPB1{background-color: #F2F2F2;}
.STPB2:hover,.STPB3:hover{background-color: #f2f2f2;} 
.STPB2a:hover,.STPB3a:hover{color: #00AAFF;} 

.nav{width: 100%;border-bottom: #C6C6C6 solid 1px;float: left;background-color: white;height: 51px;}
.nav .navBox{width: 1236px;margin: 0 auto;}
.navBox1 .logo{position: relative;width: 100px;float: left;line-height: 50px;}
.logo_h{position: absolute;left: 0;opacity: 0;top: 15px;}
.logo_h:hover{opacity: 1;transition: 0.5s;}
.nav .navBox2{float: left;}
.nav  .navspan{display: inline-block;}
.nav  span{margin: 0 10px;font-size: 15px;color: #4d4d4d;height: 50px;display: inline-block;line-height: 50px;border-bottom: rgba(255, 255, 255, 0) solid 3px;}
.nav .navspan:hover span{border-bottom: black solid 3px;transition: 0.5s;}
.nav .navBox3{float: right;}
.nav .navBox3 .index{display: inline-block;color: #4D4D4D;}
.nav .navBox3 .index a{color: #4D4D4D;}
.search,.user{width: 16px;height: 17px;display: inline-block;margin: -2px 10px;}

.content3box{width: 1236px;margin: 0 auto;}
.content3 h1{margin-top: 40px;text-align: center;font-weight: 400;margin-bottom: 30px;font-size: 48px;}
.more1{font-size: 14px;font-weight: 400;color: #00A8FF;}
.text h2{font-size: 16px;color: #777777;margin-bottom: 20px;}
.text1 h2{font-size: 16px;color: #777777;margin-bottom: 20px;}
.text1 p a{color: #777777;line-height: 40px;}
.text p a{color: #777777;line-height: 40px;}
.text{padding-right: 100px;float: left;}
.text1{margin-bottom: 250px;}

.serveBox{position: relative;}
.serveAfter{text-align: center;width: 150px;top: 1px;right: -35px;background-color: white;position: absolute;display: none;color: #7f7f7f;border: #9e9e9e solid 1px;}
.serveAfter p{line-height: 40px;}
.serveAfter p:hover{line-height: 40px;color: #00AAFF;transition: 1s;}
.serve:hover .serveAfter{display: block;}

.centerBox2 p a{color: #00A3E7;cursor: pointer;}
.centerBox2 p{line-height: 80px;}

.smartPhoneBlock:hover .smartPhone{display: block;}
.smartPhone{width: 100%;background-color: white;position: absolute;left: 0;display: none;}
.smartPhoneBox{width: 1226px;margin: 0 auto;padding-bottom: 50px;}
.smartPhoneBox1,.smartPhoneBox2{display: inline-block;padding-left: 20px;margin-top: 20px;}
.smartPhoneBox2{border-left: #b8b8b8 solid 1px;}
.smartPhoneBox1,.smartPhoneBox2 div{color: #999999;line-height: 40px;}
.smartPhoneBox1 div{width: 200px;}
.STPB1{background-color: #F2F2F2;}
.STPB2:hover,.STPB3:hover{background-color: #f2f2f2;} 
.STPB2a:hover,.STPB3a:hover{color: #00AAFF;} 

.center2 h1{line-height: 80px;}
.center2{display: inline-block;background-color: #f5f5f5;width: 100%;padding-bottom: 30px;}



.SS{background-color: white;width:100%;text-align: center;}

.BS{display: inline-block;}
.BSB{display: inline-block;width: 500px;text-align: left;width: 1226px;}
.BS input{padding-left:50px ;background-image: url(../img/Download-Center/img/icon-search2.png);background-repeat: no-repeat;background-position:15px 15px;height: 44px;width:796px ;border: black solid 1px;font-size: 17px;}
.center2Box1 img{width: 80px;display: inline-block;}
.center2Box1{text-align: center;width: 100px;display: inline-block;margin: 20px 10px;cursor: pointer;}
.Bannad{text-align: center;}
.bnanndBack{background: url(../img/serve/kv-img.jpg) no-repeat;height: 320px;width: 100%;background-size: cover;text-align: center;color: white;}
.bnanndBack .bnanndText1{margin-bottom: 20px;padding-top: 100px;}
.bnanndBack .bnanndText2{font-size: 42px;}

.center3{width: 1246px;padding-top: 32px;padding-bottom: 20px;margin: 0 auto;display: flex;flex-wrap: wrap;}
.center3Box{text-align: center;border: #cccccc solid 1px;width: 300.8px;height: 268px;padding: 20px 50px;display:flex;flex-direction: column}
.center3Box1 h2{font-size: 22px;color: #181818;font-weight: 500;margin-bottom: 12px;padding-top: 30px;}
.center3Box1{border-bottom: #CCCCCC solid 1px;padding-bottom: 20px;}
.center3Box2 p{color: #00a3e7;font-size: 17px;cursor: pointer;line-height: 30px;}
.center3Box2 p:hover{color: #00b3fa;}
.center3Box1 p{color: #4D4D4D;}
.center3Box2{margin: 16px 0 12px 0;}
.center3BoxUR{margin: 0 12px 12px 0;}
.center3BoxV{margin-bottom: 12px;}

.center4{background-color: #f5f5f5;width: 100%;}
.titleH1{width: 1236px;margin: 0 auto;}
.center4Box{width: 1236px;margin: 0 auto;display: flex;border-bottom: 1px solid rgba(60,60,60,.26);padding-bottom: 100px;}
.center4 h1{font-size: 42px;font-weight: 600;color: #181818;margin-bottom: 40px;}
.center4Box1{border-bottom:1px solid rgba(60,60,60,.26);}
.center4BoxL{width: 58%;padding-right: 60px;;height: 200px;}
.center4BoxR{border-left: 1px solid rgba(60,60,60,.26);width: 42%;padding-left: 40px;}
.center4BoxL .time{color: #808080;font-size: 15px;margin-bottom: 8px;}
.center4BoxL .contentText{color: #4D4D4D;font-size: 17px;}
.center4Box1{padding: 16px 0;}
.center4Box2{padding-top: 16px;}
.center4 a{color: #00a3e7;cursor: pointer;}
.center4 a:hover{color: #00b3fa;transition: 0.5s;}

.center4{}








.fixed{position: fixed;background-color: #00a3e7;height: 30px;width: 80px;right: 50px;z-index: 111111111111111;bottom: 10px;color: white;background-image: url(../img/Download-Center/img/icon-icr.png);background-size: 30px;background-position: 5px 5px;border-radius: 100px;background-repeat: no-repeat;padding-left: 40px;line-height: 30px;padding: 5px 5px 5px 40px;cursor: pointer;}
.jiao{background-color: #00a3e7;width: 10px;height: 10px;position: absolute;transform: rotate(45deg);right: 20px;}
.bottom{background-color: #F5F5F5;rotate: 10;}
.bottom .serve{width: 1231px;margin: 0 auto;}
.bottom .serve a{display: block;font-size: 13px;margin-bottom: 14px;}
.bottom .serve h2{font-size: .8125rem;margin-bottom: 13px;}
.bottom .serve .serveBlock,.serveBlock1,.serveBlock2,.serveBlock3,.serveBlock4,.community{float: left;}
.bottom .serve .serveBlock,.serveBlock1,.serveBlock2{width: 159px;}
.bottom .serve .serveBlock1,.serveBlock2{margin-top: 31px;}
.bottom .serve .serveBlock3{width: 240.258px;}
.bottom .serve .serveBlock4{width: 167.742px;}
.bottom .serve .serveBlock3A h2{margin-top:30px;}
.community {text-align: left;width: 180px;margin-top: 10px;}
.community a{width: 40px;height: 40px;margin-right: 20px;float: left;}
.community img{width: 40px;}
.bottomBox{border-bottom: 1px solid #ccc;padding-top: 30px;background-color: #cc;/* width: 1236px;margin: 0 auto; */}
.bottom1{width: 1231px;margin: 0 auto;}
.bottom1 a{font-size: 13px;line-height: 60px;}
.bottom1 span{width: 1px;height: 13px;background-color: #999;display: inline-block;}
